<p *ngIf="verif; then vrai; else faux"></p>
<ng-template #vrai><h1>Bonjour {{nom}} </h1></ng-template>
<ng-template #faux><h1>Hello world</h1></ng-template>

<p>Vérification : {{verif ? "vrai" : "faux"}} </p>



<div *ngIf="element==1; then vrai2; else faux2"></div>
<ng-template #vrai2><button>login</button></ng-template>
<ng-template #faux2><button>logout</button></ng-template>



<table class="table">
  <thead>
  <tr>
    <th scope="col">indice</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Age</th>
      
  
  </tr>
</thead>
<tbody>
  <tr *ngFor="let etu of etudiants; let i=index; let isFirst=first; let isLast=last; let isEven=even" 
  class="{{getNomClass(isFirst,isLast, isEven)}}">
    <td>{{i+1}} </td>
    <td>{{etu.nom}} </td>
  <td>{{etu.prenom}} </td>
  <td>{{etu.age}} </td>
 
  
  </tr>
</tbody>
  </table>
  
